BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: false
BreakBeforeBraces: Linux
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true

